/* === 배너 === */
#main_banner_container {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 35px;
  }
  .carousel {
    width: 100%;
  }
  .carousel-item img {
    width: 100%; /* 너비를 100%로 설정하여 Carousel의 너비에 맞춤 */
    height: auto; /* 높이를 자동으로 설정 */
    object-fit: cover; /* 이미지가 잘리더라도 비율 유지 */
  }
  
  /* 작은 화면 (예: 모바일) */
  @media (max-width: 767px) {
    .carousel-item img {
      height: 200px; /* 모바일에서 적절한 높이 설정 */
    }
  }
  /* 중간 화면 (예: 태블릿) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .carousel-item img {
      height: 300px; /* 태블릿에서 적절한 높이 설정 */
    }
  }
  /* 큰 화면 (예: 데스크탑) */
  @media (min-width: 1024px) {
    .carousel-item img {
      height: 400px; /* 데스크탑에서 적절한 높이 설정 */
    }
  }
  
  /* === 아래 === */
  #main_under_container {
    padding-right: 10%;
    padding-left: 10%;
    /* margin: 0 auto; */
    margin-top: 7%;
    align-items: center;
    text-align: center;
    font-family: 'Pretendard-Regular';
  }
  #main_under_title_1 {
    font-weight: 800;
    font-size: 1.5rem;
  }
  #main_under_title_2 {
    margin-bottom: 10px;
    color: #7b7b7b;
  }
  .main_bottom_banner_btn_container {
    width: 100%; /* 너비를 100%로 설정하여 flex에 맞춤 */
  }
  .main_bottom_banner_btn {
    width: 300px;
    border: none; /* 기본 테두리 제거 */
    border-radius: 10px;
    background: none; /* 기본 배경 제거 */
    padding: 0; /* 기본 패딩 제거 */
    cursor: pointer; /* 커서 모양 변경 */
    padding-top: 15px;
    transition: box-shadow 0.3s ease; /* 부드러운 그림자 애니메이션 */
  }
  .main_bottom_banner_btn:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* 오른쪽과 아래에 그림자 추가 */
  }
  
  .main_img_btn {
    width: 90px;
    height: 90px;
  }
  .middle-flex {
    gap: 24px;
  }
  .last-flex {
    color: rgb(31, 41, 55);
  }
  .last-flex-1 {
    font-size: 20px;
    font-weight: 800;
  }
  .last-flex-2 {
    font-size: 15px;
    font-weight: 200;
    height: 100px;
  }
  .carousel-indicators {
    list-style: none;
  }

  /* 서비스 인트로 */
  /* 서비스 인트로 */
  /* 서비스 인트로 */
  #service-container{
    font-family:'Pretendard-Regular';
    /* padding-right: 10%;
    padding-left: 10%; */
    margin: 0 auto;
    align-items: center;
    text-align: center; 
    font-family: 'Pretendard-Regular';
  }
  .nav {
    /* background-color: rgba(51, 51, 51, 0.9); */
    background-color: rgba(255, 255, 255, 0.971);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 70px;
  }
  .nav-menu li {
    display: inline-block;
    margin-right: -6px;
    line-height: 60px;
  }
  .nav-menu-item {
    display: block;
    padding: 0 20px;
    color: #f0b300;
    text-decoration: none;
  }
  .nav-menu-item:hover,
  .isactive {
    /* background-color: #222; */
    background-color: f0b300;
    color: blue;
  }
  
  #section {
    margin-top: 7%;
    line-height: 22px;
  }
  
  #section1 {
    height: 550px;
    color: black;
    background-color: #f9fafb;
    font-weight: 800 !important;
    font-size:20pt;
    line-height: 1.4;
    padding:20px;
    display: flex;
    flex-direction: column; /* 자식 요소를 수직으로 정렬 */
    justify-content: center; /* 수직 방향으로 가운데 정렬 */
    align-items: center; /* 수평 방향으로 가운데 정렬 */
    text-align: center;
    transition: all 0.8s ease;
  }

  #section1 img{
    height: 100px;
    margin-bottom: 20px;
    transition: all 0.8s ease;
  }
  #section2 {
    height: 700px;
    background-color: white;
    color: #fff;
    padding: 20px 10% 20px 10%;
    font-weight: 800 !important;
  }
  /* 가계부 */
  #section2 h3{ 
    padding:0%;
    color:#f0b300;
    text-align: left;
    padding-top: 5%;
    transition: all 0.8s ease;
  }
  /* 가계부 헤더 설명글 */
  #section2 h1{
    color:black;
    text-align: left;
    transition: all 0.8s ease;
  }
  #section2-content{
    color: black;
    text-align: left;
    transition: all 1s ease;
  }
  /* 가계부 아이콘 */
  #section2-icon{
   height: 200px;
   margin-top: -180px;   
   margin-bottom: 70px;
   transition: all 0.8s ease;
  }
  /* #section2-content{
    color: black;
    text-align: left;
    width: 400px;
    margin-top: -20px;
    margin-left:700px;
  } */
  #section3 {
    height: 700px;
    background-color: #f9fafb;
    color: #fff;
    padding: 20px;
  }
  /* 모의투자 */
  #section3 h3{
    color:#f0b300;
  }
  .section3-header{
    color:black;
    height: 200px;
    width:500px;
    padding:50px 10px 0 0;
    margin:0 40px 0 1000px;
    text-align: left;
  }
  .section3-img{
    width: 550px;
    float: left;
    margin: -100px 30px 0 200px; /* 상단, 우측, 하단, 좌측 여백 조정 */
  }
  .section3-coin{
    width:500px;
    height:600px;
    margin: -110px 30px 0 200px; 
    padding-bottom: 0;
  }
  .section3-content{
    color:black;
  }
  .section3-flycoin{
    width:10%;
  }
  .section3-coin{
    width:10%;
    margin-right:70%;
    padding-bottom: 50%;
    z-index: 10;
  }
  #section4 {
    height: 700px;
    color: #fff;
    padding: 20px 10% 20px 10%;
  }
  #section4 h3{ 
    padding:0%;
    color:#f0b300;
    text-align: left;
    padding-top: 5%;
  }
  #section4 h1{
    color:black;
    text-align: left;
  }
  .section4-img{
    float:right;
    width:  600px;
    height: 420px;
    margin-top:-150px;
  }