h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.attendance-month-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
}
.attendance-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(10%, 0%);
}
.attendance-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 15px;
  border-radius:8px;
}

.month {
  font-size: 20px;
  width: 100px;
  background-color: #FFF6E5;
  border-radius: 12px;
  padding: 5px;
}
.count {
  font-size: 20px;
  width: 300px;
  background-color: #FFF6E5;
  border-radius: 12px;
  padding: 5px;
}

.checkbtn-wrapper {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 (필요시) */
  margin-top: 20px;
}

.check-btn {
  background-color: #ffd698;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 110px; /* Ensure buttons take full width of modal */
  text-align: center;
}
