.objectQuestion-div {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  height: 90px;
  padding: 10px; /* 내용과 테두리 사이에 여백을 추가합니다 */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 33px;
}

.objectExample-label {
  display: block;
  margin-top: 1rem;
  border-width: 1px;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:example-label-gray:hover {
  background-color: #f0f0f0;
}

.example-label-orange {
  background-color: #ffd698;
}

.example-label-orange:hover {
  background-color: #ffd698;
}

.disabled-label {
  opacity: 0.6;
  cursor: not-allowed;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.quiz-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.quiz-footer {
  margin-top: auto;
}

.quiz-btn {
  display: flex;
  justify-content: center;
}

.quiz-btn button {
  background-color: #ffd698;
  color: black;
  font-weight: bold;
  border: none; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.quiz-btn button:hover {
  background-color: #f7b500;
}

.quiz-btn button:disabled {
  background-color: #c8c8c8;
  color: #666666;
  cursor: not-allowed;
}

.quiz-message {
  text-align: center;
  margin-top: -40px;
}